In [4]:
import pandas as pd

def load_data(file_path):
    """Load employee data from a CSV file."""
    return pd.read_csv(file_path)

In [5]:
def greet_employee(employee_df, emp_id):
    """Greet an employee with their first name based on Employee ID."""
    emp = employee_df[employee_df['EID'] == emp_id]
    if not emp.empty:
        first_name = emp.iloc[0]['Employee Name'].split()[0]
        prefix = "Mr" if emp.iloc[0]['Gender'] == "Male" else "Ms"
        return f"Hello, {prefix} {first_name}"
    return "Employee not found"

In [6]:
def average_salary_by_department(employee_df):
    """Calculate the average salary for each department."""
    return employee_df.groupby('Department')['Salary'].mean()

In [7]:
def get_employee_details(employee_df, emp_id):
    """Retrieve an employee's name, date of joining, and department."""
    emp = employee_df[employee_df['EID'] == emp_id]
    if not emp.empty:
        return f"{emp.iloc[0]['Employee Name']} | {emp.iloc[0]['Date of Joining']} | {emp.iloc[0]['Department']}"
    return "Employee not found"

In [8]:

def sort_employees_by_joining_date(employee_df):
    """Sort employees from oldest to newest based on Date of Joining."""
    employee_df['Date of Joining'] = pd.to_datetime(employee_df['Date of Joining'], format='%d-%m-%Y')
    return employee_df.sort_values(by='Date of Joining')

In [9]:
# Example usage
file_path = "/content/employee (2).csv"
employee_df = load_data(file_path)

In [10]:
# Example function calls
print(greet_employee(employee_df, "E123D"))
print(average_salary_by_department(employee_df))
print(get_employee_details(employee_df, "E123D"))
print(sort_employees_by_joining_date(employee_df))

Hello, Ms Nitin
Department
Engineering     650000.0
IT             1200000.0
Products       2075000.0
Research       1350000.0
Semantics      1200000.0
Name: Salary, dtype: float64
Nitin Bhole | 01-11-2016 | Products
      EID      Employee Name Gender   Salary Date of Joining   Department
12  E620Y     Kumar Abhishek      M  1100000      2014-12-01    Semantics
7   E184A  Kushmakar Krishna      M  1100000      2015-01-01     Products
4   E098Z    Rajendra Prabhu      M  1000000      2015-11-11    Semantics
8   E104S     Amarnath Patil      M   600000      2015-11-29  Engineering
3   E123B      Pankaj Bansal      M   900000      2015-12-01     Research
1   E876G     Mayur Kulkarni      M  1200000      2016-06-03    Semantics
2   E798G      Anurag Pandey      M  1200000      2016-07-04           IT
0   E123D        Nitin Bhole      M  1900000      2016-11-01     Products
5   E294M     Sumanth Mishra      M  1800000      2017-09-04     Research
6   E972L          Sai Bodha      M  1100000      2017-11-11    Semantics
10  E983Q     Chakshu Bansal      F   300000      2017-12-04     Products
9   E093V   Shashidhar Reddy      M   700000      2018-11-29  Engineering
13  E109U     Sanket Gibbidi      M  5000000      2019-01-11     Products
11  E092E       Mitali Gupta      F  1600000      2019-05-02    Semantics